<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="js/sockets/socket.js"></script>
</head>
<body>
	<div class="container">
		<h1>This is homepage</h1>
		<p><%= data ? data.msg : "" %></p>
		<img src="imgs/img.jpg" alt="img">
		<form	 action="/login" method="POST">
			<input type="text" name="email" />
			<input type="password" name="password" />
			<input type="submit" value="login" />
		</form>

		<!-- add this to enable profiler -->
		<%- include("../modules/profiler/profiler.ejs") %>
	</div>
</body>
</html>